@use 'variables.scss' as *;

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem 0rem;
    @media screen and (min-width: 636px) {
        grid-template-columns: repeat(2, minmax(250px, max-content));
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(20px, max-content));
      }

    @media screen and (min-width: 1224px) {
        grid-template-columns: repeat(4, minmax(20px, max-content));
      }

    .card{
        backdrop-filter: blur($blur-amount);
        border-radius: $border-radius;
        border: 0.5px solid $color-shadow;
        // box-shadow: $box-shadow-inset-medium, $box-shadow-medium;
        padding: 1.5rem;
        text-align: left;

      .card-img{
        width: 100%;
        border-radius: $border-radius;
        margin-bottom: 1rem;
      }
      .card-title{
      }
      .card-text{

      }
      .card-CTA{
        text-decoration: none;
        color: var(--color);
        font-weight: bold;
        display:inline-flex; 
        align-items:center; 
        
        .cta-icon{ transition: transform .2s ease; }
        &:hover{
          .cta-icon{ transform: translateX(4px); }
        }
      }
    }
  }