@use './variables' as *;
@use 'sass:color';
:root {
    --accent: #{$accent-color};
    --fg: #{$foreground-color};
    --pc: #{$primary-color};
    --bg: #{$background-color};
    --color: #{$text-color};
    --muted: #{$color-muted};
    --success: #{$color-success};
    --warning: #{$color-warning};
    --danger: #{$color-danger};
    --info: #{$color-info};
  }

  // typography
@font-face {
  font-family: HIDROM;
  src: url("../assets/fonts/HIDROM.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MintSpirit;
  src: url("../assets/fonts/MintSpirit/MintSpirit-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MintSpirit Italic;
  src: url("../assets/fonts/MintSpirit/MintSpirit-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: MintSpirit Bold;
  src: url("../assets/fonts/MintSpirit/MintSpirit-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: MintSpirit Bold Italic;
  src: url("../assets/fonts/MintSpirit/MintSpirit-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Poison;
  src: url("../assets/fonts/Poison/otf/Poison-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
  
  * { box-sizing: border-box; }
  html, body { 
    margin: 0; 
    padding: 0; 
    font-family: $font-stack; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    color: var(--color); 

    border-color: var(--accent);
    
    /* background-color: var(--bg); 
    background: linear-gradient(119deg, $background-color 33%, color.adjust($accent-color, $lightness: -65% )96%);
    background-attachment: fixed; */

    background-color: var(--bg);
    background-image: 
      radial-gradient(circle at 20% 30%, rgba(125, 249, 255, 0.25), transparent 20%),
      radial-gradient(circle at 50% 60%, rgba(125, 249, 255, 0.5), transparent 30%), 
      radial-gradient(circle at 80% 60%, rgba(125, 249, 255, 0.2), transparent 20%);
    background-attachment: fixed;
    animation: moveBackground 25s ease-in-out infinite, colorPulse 50s linear infinite, hueShift 240s linear infinite;
    background-size: 200% 200%;
  }
  main { 
    flex: 1;
    
    padding: 2rem 2rem 5rem 2rem;

    @media screen and (min-width: 1024px) {
      padding: 2rem 5rem;
    }
  }

  //GLOBAL
  section{
    padding: 2rem 0rem 5rem 0rem;

    @media screen and (min-width: 1024px) {
        padding: 2rem 0rem;
    }
  }

  h1{
    font-family: Poison;
    font-size: $font-size-h1;
    text-transform: uppercase;
    margin: 0;
    color: var(--color);
    font-weight: bold;
  }

  .glass {
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur($blur-amount) saturate(180%);
    -webkit-backdrop-filter: blur($blur-amount) saturate(180%);
    box-shadow: $box-shadow-glass;
    overflow: hidden;

    &:hover::before {
      transform: rotate(30deg) translate(10%, -10%) scale(2);
      opacity: 0.6;
    }

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      background: linear-gradient(
        130deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0.05) 40%,
        rgba(255, 255, 255, 0) 60%
      );
      transform: rotate(15deg);
      opacity: 0.3;
      mix-blend-mode: overlay;
      transition: opacity 0.5s ease, transform 1s ease;
    }
  }

  .highlight{
    color: color.adjust($accent-color, $lightness: -30%);
    font-weight: normal;
  }

  // buttons
  .primary-button {
    background-color: var(--fg);
    color: var(--color);
    border: none;
    border-radius: $border-radius;
    padding: $base-spacing $base-spacing * 2;
    cursor: pointer;
    transition: background-color $transition-duration;
    text-wrap: nowrap;
    box-shadow: $box-shadow-low, $box-shadow-inset-low;
    text-decoration: none;
    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
      color: color.invert($text-color);
      box-shadow: $box-shadow-inverted-medium, $box-shadow-inverted-inset-medium;
    }
  }

  // animations
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fade-in{
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .fade-in-up {
      transform: translateY(30px);
      

      &.visible {
          animation: fadeInUp 0.6s ease-out forwards;
      }
  }

  .fade-in-right {
      transform: translateX(30px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;

      &.visible {
          animation: fadeInRight 0.6s ease-out forwards;
      }
  }

  @keyframes moveBackground {
    0% {
      background-position: 20% 30%, 80% 20%, 60% 80%, 40% 70%;
    }
    25% {
      background-position: 25% 35%, 75% 25%, 65% 75%, 35% 65%;
    }
    50% {
      background-position: 30% 40%, 70% 30%, 50% 70%, 50% 60%;
    }
    75% {
      background-position: 35% 25%, 65% 35%, 55% 65%, 45% 55%;
    }
    100% {
      background-position: 20% 30%, 80% 20%, 60% 80%, 40% 70%;
    }
  }

  @keyframes hueShift {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
  }

  @keyframes colorPulse {
    0%, 100% {
      filter: brightness(1) saturate(1);
    }
    50% {
      filter: brightness(1.2) saturate(0.9);
    }
  }

