
@use 'variables.scss' as *;
@use 'sass:color';

section.hero{
        margin: 0 auto;

        padding: 2rem 2rem;
        text-align: center;

        backdrop-filter: blur($blur-amount);
        -webkit-backdrop-filter: blur($blur-amount);
        background-image: url('../assets/images/BackgroundAssets/Background_Abstract_3.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: -30% 0%;

        /*
        border-bottom-left-radius: 100% 20%;
        border-bottom-right-radius: 100% 20%;
        border-bottom: 1px solid $secondary-color;
        box-shadow: $box-shadow-high;
        -moz-box-shadow: $box-shadow-high;
        -webkit-box-shadow: $box-shadow-high; */

        border-radius: $border-radius;

        box-shadow: $box-shadow-glass;

        display: grid;
        grid-gap: 1rem;
        place-items: center;

        @media screen and (min-width: 1024px) {
            min-height: 60vh;
        }
        
        .hero-text{
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1{
                font-size: 2rem;
                text-shadow: 1px 1px 2px $accent-color;
                font-weight: normal;
                @media screen and (min-width: 636px) {
                    font-size: 3.5rem;
                }   
                @media screen and (min-width: 1024px) {
                }
                @media screen and (min-width: 1224px) {
                }
            }
            p{

            }
        }

        .photo-wrapper {
            overflow: hidden;
            border-radius: 40% 10% 40% 0%; /* curves */
            display: inline-block;
            img{
                max-width: 100%;
                display: block;
            }
          }
}

section.services{
    display: flex;
    text-align: left;
    .services-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        .service-item{
            padding: 1rem;

            &:hover{
                rotate: -2deg;
                transition: rotate 0.3s;
            }
            
            .service-title{
                min-height: 35%;
            }
            .service-list{
                padding-bottom: 1rem;
            }

            &.service1{
                background-image: url('../assets/images/BackgroundAssets/Background_Abstract_Small_1.png');
                background-position: 50% 80%;
                background-repeat: no-repeat;
                background-size: 200%;
            }
            &.service2{
                background-image: url('../assets/images/BackgroundAssets/Background_Abstract_Small_2.png');
                background-position: 0%;
                background-repeat: no-repeat;
                background-size: 200%;
            }
            &.service3{
                background-image: url('../assets/images/BackgroundAssets/Background_Abstract_Small_3.png');
                background-position: 80% 10%;
                background-repeat: no-repeat;
                background-size: 200%;
            }
            &.service4{
                background-image: url('../assets/images/BackgroundAssets/Background_Abstract_Small_1.png');
                background-position: 100%;
                background-repeat: no-repeat;
                background-size: 200%;
            }
        }
    }
}

section.content{
    text-align: center;
    display: flex;
    grid-gap: 1rem;
    place-items: center;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }
    @media screen and (min-width: 1224px) {
    }

    .contentImage{
        width: 100%;
        max-width: 80vw;
        height: auto;
        @media screen and (min-width: 1024px) {
            width: 100%;
            max-width: 30vw;
            height: auto;
        }
    }
}