
@use 'variables.scss' as *;
@use 'sass:color';

section.hero{
        margin: 0 auto;

        padding: 0 2rem;
        text-align: center;

        backdrop-filter: blur($blur-amount);


        /*
        border-bottom-left-radius: 100% 20%;
        border-bottom-right-radius: 100% 20%;
        border-bottom: 1px solid $secondary-color;
        box-shadow: $box-shadow-high;
        -moz-box-shadow: $box-shadow-high;
        -webkit-box-shadow: $box-shadow-high; */

        border-radius: $border-radius;

        box-shadow: $box-shadow-glass;

        display: grid;
        grid-gap: 1rem;
        place-items: center;
        
        min-height: 60vh;
        .hero-text{
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1{
                font-size: 2rem;
                text-shadow: 1px 1px 2px $accent-color;
                font-weight: normal;
                @media screen and (min-width: 636px) {
                    font-size: 3.5rem;
                }   
                @media screen and (min-width: 1024px) {
                }
                @media screen and (min-width: 1224px) {
                }
            }
            p{

            }
        }

        .photo-wrapper {
            overflow: hidden;
            border-radius: 40% 10% 40% 0%; /* curves */
            display: inline-block;
            img{
                max-width: 100%;
                display: block;
            }
          }
}

section.services{
    text-align: center;
    .service-grid{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  
        place-items: center;
        gap: .5rem;
        grid-template-areas: 
        "service1 service1 service2 service2 service2"
        "service1 service1 service2 service2 service2"
        "service1 service1 service4 service5 service5"
        "service3 service3 service4 service5 service5"
        "service3 service3 service4 service5 service5";
        .service-item{
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            backdrop-filter: blur($blur-amount);
            //border: .5px solid $secondary-color;
            // box-shadow: $box-shadow-low, $box-shadow-inset-high;
            &:hover{
                background-color: color.adjust($accent-color, $alpha: -0.8);
            }
        }
        .service1{
            grid-area: service1;
        }
        .service2{
            grid-area: service2;
        }
        .service3{
            grid-area: service3;
        }
        .service4{
            grid-area: service4;    
        }
        .service5{
            grid-area: service5;    
        }
    }
}

section.content{
    text-align: center;
    grid-template-columns: auto;
    display: grid;
    grid-gap: 1rem;
    place-items: center;
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);  
    }
    @media screen and (min-width: 1224px) {
    }
}