/* src/styles/main.scss */

/* Core foundation */
@use "base/reset";
@use "base/globals";
@use "base/typography";
@use "base/separators";

/* Abstracts */
@use "abstracts/mixins";
@use "abstracts/variables";
@use "abstracts/functions";

/* Layout */
@use "layout/header";
@use "layout/footer";

/* Components */
@use "components/buttons";
@use "components/cards";


/* Blocks */
@use "components/hero";
@use "components/trust-banner";
@use "components/services";
@use "components/workflow";
@use "components/cta";

/* Pages */
@use "pages/diensten";
@use "pages/contact";