/* src/styles/main.scss */

/* Core foundation */
@use "base/reset";
@use "base/globals";
@use "base/typography";

/* Abstracts */
@use "abstracts/mixins";
@use "abstracts/variables";
@use "abstracts/functions";

/* Layout */
@use "layout/header";
@use "layout/footer";

/* Components */
@use "components/buttons";
@use "components/cards";
@use "components/hero";
@use "components/trust-banner";