@charset "UTF-8";

@use 'variables.scss' as *;
@use 'sass:color';

/* NAV STYLES */
.mobile-nav-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;

    .mobile-nav-image{
      margin-left: 20px;
      color: $text-color;
      img{
        width: auto;
        height: 50px;
        padding-top: 10px;
      }
    }
    .hamburger {
      padding-top: 20px;
      padding-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .hamburger-line {
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 10px;
        background-color: color.adjust($accent-color, $lightness: -30%);
        transition: all 0.3s ease;
      }
      &.open {
        .hamburger-line:nth-child(1) {
          transform: rotate(45deg) translateY(21px);
        }
        .hamburger-line:nth-child(2) {
          opacity: 0;
        }
        .hamburger-line:nth-child(3) {
          transform: rotate(-45deg) translateY(-21px);
        }
      }
    } 
  }
  
  
  .nav-container{
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: flex;

    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur($blur-amount) saturate(180%);
    -webkit-backdrop-filter: blur($blur-amount) saturate(180%);
    box-shadow: $box-shadow-glass;
    overflow: hidden;

    &.expanded{
      height: 150vh;
    }
    .header-image{
      display: none;
    }
    .nav-contact{
      display: none;
    }
  
    .nav-links {
      &.expanded {
        display: block;
        min-height: 40vh;
        transform: translateY(0%);
      }
        width: 100%;
        top: 5rem;
        left: 48px;
        display: none;
        margin: 0;
        .nav-link {
            display: block;
            text-align: center;
            padding: 10px 0;
            text-decoration: none;
            font-size: $font-size-mobile-navigation;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $text-color;
            &:hover, :focus {
                border-bottom: 2px solid $accent-color;
              }

          }
        .contact-link{
          margin: 20px 0px;
        }
          
          
      }
      
      
  }
    
  @media screen and (min-width: 1024px) {
    .mobile-nav-container{
      display: none;
    }
  
    .nav-container{
      position: relative;
      backdrop-filter: blur($blur-amount);
      align-items: center;
      justify-content: space-between;
      padding: 15px;

      background: none;
      border: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      box-shadow: none;
      overflow: hidden;

        .header-image{
          display: inline-block;
          min-width: 10rem;
          max-width: 10rem;
          color: $text-color;
          padding-right: 10px;
          img{
            width: 100%;
            height: auto;
          }
        }
        .nav-contact{
          display: inline-block;
        }
        .nav-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        max-height: 20vh;
        
        .nav-link{
          display: inline-block;
          padding: 15px 20px;
          font-size: $font-size-desktop-navigation;
          &.active {
            border-bottom: 2px solid $accent-color;
          }
        }
        .contact-link{
          margin: 0px 10px;
        }
      }
    }
  }
  
  /* END NAV STYLES */