---
import { Image } from "astro:assets";
import logo from '../../assets/images/logo.png';


import Nav from "./Nav.astro";
import MobileNav from "./MobileNav.astro";
---

<header class="site-header">
  <div class="container header__inner">
    <a class="header__logo" href="/" aria-label="Ga naar de startpagina">
      <Image src={logo} alt="logo" width="160" height="48" />

    </a>

    <button
        class="icon-button header__toggle"
        type="button"
        aria-label="Menu openen"
        aria-controls="mobile-menu"
        aria-expanded="false"
        data-menu-open
    >
        <span class="icon" aria-hidden="true">☰</span>
    </button>


    <Nav />
  </div>

  <MobileNav />
</header>
