<section class="trust-banner section--tighter sep sep--band sep--bottom">
    <div class="container trust-banner__inner">
      <ul class="trust-banner__list" aria-label="Waarom kiezen voor GW Systems">
        <li class="trust-banner__item">Snelle reactie</li>
        <li class="trust-banner__item">Veilig &amp; volgens norm</li>
        <li class="trust-banner__item">Netjes afgewerkt</li>
      </ul>
    </div>
  </section>
  