---
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';

import Card from '../components/card.astro';
import CardGrid from '../components/cardGrid.astro';
import '../styles/index.scss';

import ContentImage1 from '../assets/images/Mockups/FelineConsultingMockup2.png';

---

<BaseLayout pageTitle="Home" pageType="index">
	<section class="hero">
		<div class="hero-text fade-in fade-in-up">
			<h1>Building fast, modern websites that help your business <span class="highlight">stand out</span></h1>
			<!-- <p>This is the main content of the home page.</p>  -->
			<a class="hero-CTA primary-button" href="/contact">Let’s build your site</a>
		</div>
	</section>
	<section class="content">
		<p>We build websites that don’t just look great — they perform.
			We bring together both the technical and creative sides of web development. Our focus is on clean, modern sites that are fast, functional, and built to help your business grow.</p>
		<Image src={ContentImage1} alt="A website mockup image." class="contentImage"/>
			
	</section>
	<section class="services">
		<h2>Our Services</h2>
		<p>We offer a range of services to meet your needs. Explore our features below.</p>
		<div class="service-grid">
			<div class="service-item glass service1 fade-in fade-in-up">
				<h3>Web development</h3>
				<p>Custom, fast, and responsive websites built to fit your brand and business goals.</p>
			</div>
			<div class="service-item glass service2 fade-in fade-in-up">
				<h3>SEO & Performance Optimization</h3>
				<p>Optimized for speed and visibility so your site ranks higher and loads instantly.</p>
			</div>
			<div class="service-item glass service3 fade-in fade-in-up">
				<h3>Design / UI Polish</h3>
				<p>Clean, modern visuals that make your website stand out while staying user-friendly.</p>
			</div>
			<div class="service-item glass service4 fade-in fade-in-up">
				<h3>Branding & Integration</h3>
				<p>Cohesive visuals that tell your story and give your business a recognizable look.</p>
			</div>
			<div class="service-item  glass service5 fade-in fade-in-up">
				<h3>Maintenance & Support</h3>
				<p>Regular updates, backups, and tweaks to keep your site secure and performing smoothly.</p>
			</div>
	</section>
	<CardGrid title="Features" text="Explore the features of our product below.">
		<Card 
			imageSrc="https://placehold.co/200x200" 
			altText="Feature One" 
			title="Feature One" 
			text="Details about feature one." 
			ctaText="Learn More" 
			ctaLink="/feature-one"
		/>
		<Card 
			imageSrc="https://placehold.co/200x200" 
			altText="Feature One" 
			title="Feature One" 
			text="Details about feature one." 
			ctaText="Learn More" 
			ctaLink="/feature-one"
		/>
		<Card 
			imageSrc="https://placehold.co/200x200" 
			altText="Feature One" 
			title="Feature One" 
			text="Details about feature one." 
			ctaText="Learn More" 
			ctaLink="/feature-one"
		/>
		<Card 
			imageSrc="https://placehold.co/200x200" 
			altText="Feature One" 
			title="Feature One" 
			text="Details about feature one." 
			ctaText="Learn More" 
			ctaLink="/feature-one"
		/>
	</CardGrid>
</BaseLayout>
