---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/blocks/Hero.astro';
import TrustBanner from '../components/blocks/TrustBanner.astro';
import Services from '../components/blocks/ServicesSection.astro';
import Workflow from '../components/blocks/Workflow.astro';
import CTA from '../components/blocks/CTA.astro';

import { company } from '../data/company';
---
<BaseLayout>
    <Fragment slot="head">
        <title>{company.name}</title>
        <meta
          name="description"
          content="GW Systems is uw betrouwbare elektricien voor slimme en duurzame installaties. Wij bieden vakkundige plaatsing, nette afwerking en transparante prijzen."
        />
      </Fragment>
    <Hero />
    <TrustBanner />
    <Services />
    <Workflow />
    <CTA />
</BaseLayout>