---
    import "../styles/cardGrid.scss";
    interface Props {
        title?: string;
        text?: string;
    }
    const {title, text} = Astro.props;
---

<article>
   {title && (<header><h1>{title}</h1></header>)}
   {text && (<p>{text}</p>)}
   <section class="card-grid">
        <slot />
    </section>
</article>