---
import { Image } from 'astro:assets';
import NavImage from '../assets/images/LogoNav.png';

---
<div class="mobile-nav-container glass">
  <!-- <div class="mobile-nav-image">
    <Picture src={orangeLogo} alt="Logo"/>
</div> -->
    <div class="mobile-nav-image">
      <Image src={NavImage} alt="Studio Fraktal" class="navLogoImg"/>
    </div>

  <div class="hamburger" id="hamburger">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </div>
</div>
