---
import { Picture } from 'astro:assets';
// import orangeLogo from '../../public/Logo_Orange.png';
---
<div class="mobile-nav-container glass">
  <!-- <div class="mobile-nav-image">
    <Picture src={orangeLogo} alt="Logo"/>
</div> -->
    <div class="mobile-nav-image">
    <h2 class="">WD LOGO</h2>
    </div>

  <div class="hamburger" id="hamburger">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </div>
</div>
